# Core functionality - changes here should be rare!
/src/app.py                   @ivanliew2000
/src/backend/database.py      @ivanliew2000
/src/backend/routers/auth.py  @ivanliew2000

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ivanliew2000
